name: Terraform Multi-Environment CI/CD

on:
  push:
    branches:
      - dev
      - master

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      # Determine environment from branch
      - name: Set environment
        id: env
        run: |
          if [[ "${GITHUB_REF_NAME}" == "main" ]]; then
            echo "ENV=prod" >> $GITHUB_ENV
          else
            echo "ENV=dev" >> $GITHUB_ENV
          fi

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::273605040540:role/github-actions-terraform-role
          aws-region: ap-south-1

      - name: Terraform Init
        run: |
          terraform init -input=false \
            -backend-config="bucket=gitops-tf-state-latest" \
            -backend-config="key=${ENV}/terraform.tfstate" \
            -backend-config="region=ap-south-1" \
            -backend-config="dynamodb_table=tf-locks-latest"

      - name: Terraform Plan
        run: terraform plan -var-file=../envs/${ENV}.tfvars

      - name: Terraform Apply
        if: github.ref_name == 'master'
        run: terraform apply -auto-approve -var-file=../envs/${ENV}.tfvars